// Colors
$col-primary: hsl(245, 75%, 52%);
$col-bg: hsl(225, 100%, 94%);
$col-bg-light: hsl(225, 100%, 98%);
$col-head: hsl(223, 47%, 23%);
$col-para: hsl(224, 23%, 55%);

$font-primary: "Red Hat Display", sans-serif;
