@use "../utils/" as *;

footer {
  position: absolute;
  bottom: rem(40);
  left: 50%;
  transform: translateX(-50%);
  margin-top: rem(20);
  text-align: center;
  font-size: rem(14);
  z-index: 100;

  a {
    color: $col-primary;
    margin-left: 1px;
  }
}
